body {
    background-color: rgb(173, 207, 196);
    overflow: hidden;
    text-align: center;
}
header {
    background-color: rgb(47, 105, 86);
    height: 8vh;
    border-radius: 8px;
    border: 0px;
    margin: -10px;
    padding: 0px;
    text-align: center;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.185);
}
header > h1 {
    color: rgb(133, 202, 204);
    text-shadow: 5px 5px black;
    border-radius: 8px;
    border: 0px;
    margin: 5px;
    padding: 0px;
    text-align: center;
}
section {
    background-color: aliceblue; 
    height: 80vh;
    margin-left: 12vw;
    margin-right: 12vw;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 8px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.185);
}
article {
    background-color: antiquewhite;
    border-top: 5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin: 5vh;
    border-radius: 8px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.185);
}
footer {
    background-color: yellowgreen;
    border-radius: 15px;
    border: 0px;
    margin: -10px;
    padding: 0px;
    padding-bottom: 8px;
    text-align: center;
    box-shadow: 5px -5px rgba(0, 0, 0, 0.185);
}
footer > h2 {
    border-top: 8vh;
}
a {
    color: rgb(46, 34, 34);
}
#imag {
    height: 15vh;
    width: 15vw;
    margin-left: 28vw;
    background-repeat: no-repeat;
    background-position: center center;
}